#contentsArea{
    margin: 100px auto;
}
#contentsArea > h2{
    font-size: 2.2rem;
    font-family: "Noto Sans", sans-serif;
    padding: 3rem 0;
    font-weight: 400;
}
.roomInfo{
    height: 550px;
    margin-bottom: 2rem;
}
.roomInfo > p{
    color: #888;
    margin: 0.7rem 0;
}
.roomInfo-all {
    border: 1px solid rgba(156, 131, 106, 0.4);
    height: 467px;
    overflow: hidden;
}
.roomInfo-all .roomInfo-img{
    float: left;
    width: 65%;
    height: 468px;
    overflow: hidden;
}
.roomInfo-img img {
    width: 150%;
    position: relative;
    left: -5%;
}
.roomInfo-all .roomInfo-parah{
    float: right;
    width: 30%;
    height: 100%;
    margin-right: 3%;
    padding: 4rem 1.5rem;
    box-sizing: border-box;
}
.roomInfo-parah > h3{
    font-family: "Noto Sans", sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    color: rgb(156, 131, 106);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(156, 131, 106, 0.3);
}
.roomInfo-parah table{
    margin-top: 1.5rem;
    font-size: 1.1rem;
    line-height: 2;
    color: #666;
}
.roomInfo-parah table tr td:first-child{
    padding-right: 1rem;
    color: #000;
}
.roomInfo-parah p {
    display: inline-block;
    position: relative;
    top: 100px;
    font-size: 1.1rem;
    color: rgb(156, 131, 106);
    padding: 0.7rem 1.7rem;
    border: 1px solid rgba(156, 131, 106, 0.5);
    cursor: pointer;
}